header {
    background-image: url(../../assets/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 25px;

        .header-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .icon {
                width: 100%;
                max-width: 450px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }

            .log-in-phone {
                display: none;
            }

            .log-in {
                display: flex;
                align-items: center;

                .location-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 45px;
                    height: 45px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;
                    background-color: #ffdd59;
                    border-radius: 6px;
                    margin-right: 16px;

                    img {
                        width: 65%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .log-up {
                    width: 160px;

                    .login-btn {
                        width: 100%;
                        height: 40px;
                        border-radius: 8px;
                        background-color: #ffdd59;
                        border: 0;
                        cursor: pointer;
                        color: #000000;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

// media
@media only screen and (max-width:991px) {
    header {
        .header-content {
            .header-main {
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        background-image: none;
        background-color: #ffe031;
        height: 220px;

        .header-content {
            .header-main {
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .log-in-phone {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.8rem;
                    height: 2.8rem;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: hsla(0, 0%, 100%, .7);

                    img {
                        margin-left: 11px;
                        width: 50%;
                        height: 50%;
                    }
                }

                .log-in {
                    display: none;
                }
            }
        }
    }
}