.carousel {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

    .carousel_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 144px;
        height: 144px;
        border: 1px solid #EEE;
        border-radius: 15px;

        img {
            width: 60px;
            height: 60px;
        }

        p {
            font-size: 18px;
        }

        &:hover {
            p {
                color: #007bff;
            }
        }
    }
}